%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag new_invitation_path, class: 'invite' do 
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          = label_tag :recipient_name, "Friend's Name"
          = text_field_tag :recipient_name
        %fieldset
          = label_tag :email, "Friend's Email Address"
          = email_field_tag :recipient_email
        %fieldset
          = label_tag :message, "Message"
          = text_area_tag :message, placeholder: "I'm using Myflix, you can join today too"
        %fieldset.form-group.action
          = submit_tag "Send Invitation", class: "btn btn-default"

/ This is just the same form with Bootstrap form twice
%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @invitation, class: 'invite' do |f|
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          = f.text_field :recipient_name, label: "Friend's name"
        %fieldset
          = f.email_field :recipient_email, label: "Freind's Email Address"
        %fieldset
          = f.text_area :message, rows: 6, label: "Message", placeholder: "I'm using Myflix, you can join today too"
        %fieldset.form-group.action
          %input(type="submit" value="Send Invitation" class="btn btn-default")